@import url(normalize.css);
body{
    background-color:rgb(91, 145, 145);
    color:rgba(3, 3, 3, 0.466);

}
h1{
    width: 300px;
    margin: 40px auto;
    padding: 30px;
    border: 5px solid #50ac84;
    background-color: #8dc5ad;
    color: rgb(21, 168, 161);
    font-size: 300%;
    text-align: center;
    line-height: 1;
}
main{
    width: 800px;
    background-color: rgba(201, 236, 190, 0.308);
    margin:0px auto;
    padding: 40px 80px;
    border: 1px solid #19191a;
}

h2{
    padding: 10px;
    margin-bottom: 30px;
    border:1px dotted #181b1a;
    border-left: 10px solid #191b1b;
    color:#000000
}
.round{
    border-radius: 50%;
}
h1,header,nav,footer{

    text-align: center;
}